<div id="leftnav">
  <ul id="sidebarright">
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <li id="pages" class="menu">
        <h2>&nbsp;</h2>
        <ul>
          <div class="post" id="post-1402">
            <h3 class="titleside">
              <a
                href="{{site.url}}/the-rum-diary-17-bari-come-habana/"
                rel="bookmark"
                title="Permanent Link to The Rum Diary 17 - Bari
                      come La Habana"
                >The Rum Diary 17 - Bari come La Habana</a
              >
            </h3>
            <div class="entry">
              <p>
                Settimana scorsa mi trovavo a Bari per tenere dei corsi,
                stranamente sul Rum! In serata, dopo aver già esplorato ben bene
                i locali della città il giorno prima (Grazie Maurizio) sono
                andato al mitico Habana, locale e Rumeria storica di Bari,
                nonchè jazz club e ristorantino.<br />
                Sono con Eddy, il trainer che segue la didattica del [...]
              </p>
            </div>
          </div>
        </ul>
      </li>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <li id="degustazioni" class="degustazioni">
        <h2>&nbsp;</h2>
        <ul>
          <p>
            <a
              href="{{site.url}}/eventi-e-degustazioni"
              title="Eventi e degustazioni"
              target="_self"
              >L'elenco completo delle degustazioni svolte dal RumClub nei
              locali serali e nei ristoranti e degli eventi fatti per conto di
              aziende, enti e agenzie di comunicazione operanti nel settore.</a
            >
          </p>
        </ul>
      </li>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <li id="academia" class="academia">
        <h2>&nbsp;</h2>
        <ul>
          <a href="{{site.url}}/academia" title="Academia de Ron" target="_self"
            ><img
              src="{{site.url}}/assets/imagescertificatoPiccolo.jpg"
              alt="Certificato Academia"
          /></a>
          <p>
            <a
              href="{{site.url}}/academia"
              title="Academia de Ron"
              target="_self"
              >Il primo corso in Italia su tutto ció che riguarda il Rum.</a
            >
          </p>
        </ul>
      </li>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <li id="extras" class="extras">
        <h2>&nbsp;</h2>
        <ul>
          <p>
            <a
              href="{{site.url}}/assets/images/locandinaSM.jpg"
              title="Single Malt Club - Degustazione Verticale Bruichladdich"
              target="_blank"
              >Single Malt Club - Degustazione Verticale Bruichladdich</a
            >
          </p>
          <p>
            <a
              href="{{site.url}}/corso-base-di-degustazione-liquori-distillati"
              title="Extras"
              target="_self"
              >Corso Base di Degustazione Liquori &amp; Distillati</a
            >
          </p>
          <p>
            <a
              href="{{site.url}}/brand-ambassador-the-glenlivet"
              title="Extras"
              target="_self"
              >BRAND AMBASSADOR The GlenLivet</a
            >
          </p>
        </ul>
      </li>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <li id="partners" class="partners">
        <h2>&nbsp;</h2>
        <ul>
          <a href="http://www.lapalapa.it/" target="_blank"
            ><img
              src="{{site.url}}/assets/images/lapalapa.jpg"
              alt="winenight"
              border="0" /></a
          ><br />
          <a href="http://www.winenight.it/" target="_blank"
            ><img
              src="{{site.url}}/assets/images/winenight.jpg"
              alt="winenight"
          /></a>
          <div align="center">
            <p>
              <a href="http://www.categorico.it/"
                ><img
                  src="{{site.url}}/assets/images/logo_100x40.gif"
                  alt="Categorico: ogni sito la sua categoria e viceversa!"
                  border="0"
              /></a>
            </p>
            <p>
              <a href="http://www.hellodir.com/" target="_blank"
                >Hello Directory</a
              >
            </p>
            <p><a href="http://www.tuttoilweb.it/" ;="">TuttoIlWeb</a></p>
            <p>
              <a
                title="Segnala il tuo sito su DirectoryGratis.it"
                target="_blank"
                href="http://www.directorygratis.it/"
                ;=""
              >
                <img
                  border="0"
                  src="http://www.directorygratis.it/images/banner88x31_2.gif"
                  ;=""
                  width="88"
                  height="31"
              /></a>
            </p>
            <p>
              <!-- Versione con bottone -->
              <a href="http://www.sitopreferito.it/">
                <img
                  src="{{site.url}}/assets/images/bottone_segnalato_da_sitopreferito.gif"
              /></a>
              <!-- Fine Versione con bottone -->
            </p>
          </div>
        </ul>
      </li>
    </div>
  </ul>
</div>
<div id="rightnav">
  <ul id="sidebarleft">
    <a href="./forum" title="Vai al forum" target="_blank"
      ><img
        src="{{site.url}}/assets/images/forum.jpg"
        alt="Vai al forum"
        width="150"
        height="150"
    /></a>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <ul>
        <li id="meta" class="iscriviti">
          <h2>&nbsp;</h2>
          <a
            href="{{site.url}}/lists/?p=subscribe"
            title="Iscrizione Newsletter RumClub"
            target="_blank"
            >CLICCA QUI PER ISCRIVERTI ALLA NEWSLETTER</a
          >
          <br /><br />
          <a
            href="{{site.url}}/form_operatori.html"
            title="Iscrizione al Circuito Operatori RumClub"
            target="_blank"
            ><b>SEI UN OPERATORE?</b><br />
            CLICCA QUI</a
          ><br />
          <a
            href="{{site.url}}/area-operatori-rumclub"
            title="Area Operatori"
            target="_self"
            ><b>AREA OPERATORI</b></a
          ><br />
          <a
            href="{{site.url}}/regolamento"
            title="Iscrizione Operatori"
            target="_self"
            >Regolamento</a
          >
        </li>
      </ul>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <ul>
        <li id="meta" class="cerca">
          <h2>&nbsp;</h2>
          <!-- SiteSearch Google -->
          <form
            method="get"
            action="https://web.archive.org/web/20121229190431/http://www.google.it/custom"
            target="google_window"
          >
            <table border="0" bgcolor="#FEAA36">
              <tbody>
                <tr>
                  <td nowrap="nowrap" valign="top" align="left" height="32">
                    <br />
                    <input
                      type="hidden"
                      name="domains"
                      value="www.rumclub.org"
                    />
                    <label for="sbi" style="display: none"
                      >Inserisci i termini di ricerca</label
                    >
                    <input
                      type="text"
                      name="q"
                      size="16"
                      maxlength="255"
                      value=""
                      id="sbi"
                    />
                  </td>
                </tr>
                <tr align="center">
                  <td nowrap="nowrap">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <input
                              type="radio"
                              name="sitesearch"
                              value=""
                              id="ss0"
                            />
                            <label for="ss0" title="Ricerca nel Web"
                              ><font size="-1" color="#000000">Web</font></label
                            >
                          </td>
                          <td>
                            <input
                              type="radio"
                              name="sitesearch"
                              value="www.rumclub.org"
                              checked=""
                              id="ss1"
                            />
                            <label for="ss1" title="Cerca www.rumclub.org"
                              ><font size="-1" color="#000000"
                                >rumclub</font
                              ></label
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <label for="sbb" style="display: none"
                      >Invia modulo di ricerca</label
                    >
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <input
                      type="submit"
                      name="sa"
                      value="Cerca con Google"
                      id="sbb"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </li>
      </ul>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <ul>
        <li id="faq" class="faq">
          <h2>&nbsp;</h2>

          <p>
            <a href="{{site.url}}/faq" title="FAQ" target="_self"
              >L‘area riservata alle domande frequenti, spesso interessanti, a
              volte bislacche e apparentemente banali, ma non cosí scontate per
              chi non é un intenditore.</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="subcontent-unit-noborder">
      <div class="round-border-topleft"></div>
      <div class="round-border-topright"></div>
      <ul>
        <li id="categories" class="categorie"><h2>&nbsp;</h2></li>
        <li class="cat-item cat-item-100">
          <a
            href="{{site.url}}/category/abbinamenti"
            title="Visualizza tutti gli articoli archiviati in Abbinamenti"
            >Abbinamenti</a
          >
        </li>
        <li class="cat-item cat-item-38">
          <a
            href="{{site.url}}/category/academia-de-ron"
            title="Visualizza tutti gli articoli archiviati in Academia de Ron"
            >Academia de Ron</a
          >
        </li>
        <li class="cat-item cat-item-86">
          <a
            href="{{site.url}}/category/adid"
            title="Visualizza tutti gli articoli archiviati in ADID"
            >ADID</a
          >
        </li>
        <li class="cat-item cat-item-16">
          <a
            href="{{site.url}}/category/agricole"
            title="Visualizza tutti gli articoli archiviati in Agricòle"
            >Agricòle</a
          >
        </li>
        <li class="cat-item cat-item-104">
          <a
            href="{{site.url}}/category/aibes"
            title="Visualizza tutti gli articoli archiviati in AIBES"
            >AIBES</a
          >
        </li>
        <li class="cat-item cat-item-96">
          <a
            href="{{site.url}}/category/antigua"
            title="Visualizza tutti gli articoli archiviati in Antigua"
            >Antigua</a
          >
        </li>
        <li class="cat-item cat-item-89">
          <a
            href="{{site.url}}/category/aoc-martinique"
            title="Visualizza tutti gli articoli archiviati in AOC Martinique"
            >AOC Martinique</a
          >
        </li>
        <li class="cat-item cat-item-83">
          <a
            href="{{site.url}}/category/appleton"
            title="Visualizza tutti gli articoli archiviati in Appleton"
            >Appleton</a
          >
        </li>
        <li class="cat-item cat-item-75">
          <a
            href="{{site.url}}/category/bacardi"
            title="Visualizza tutti gli articoli archiviati in Bacardi"
            >Bacardi</a
          >
        </li>
        <li class="cat-item cat-item-78">
          <a
            href="{{site.url}}/category/bally"
            title="Visualizza tutti gli articoli archiviati in Bally"
            >Bally</a
          >
        </li>
        <li class="cat-item cat-item-90">
          <a
            href="{{site.url}}/category/barbados"
            title="Visualizza tutti gli articoli archiviati in Barbados"
            >Barbados</a
          >
        </li>
        <li class="cat-item cat-item-81">
          <a
            href="{{site.url}}/category/barbancourt"
            title="Visualizza tutti gli articoli archiviati in Barbancourt"
            >Barbancourt</a
          >
        </li>
        <li class="cat-item cat-item-55">
          <a
            href="{{site.url}}/category/bergamo"
            title="Visualizza tutti gli articoli archiviati in Bergamo"
            >Bergamo</a
          >
        </li>
        <li class="cat-item cat-item-57">
          <a
            href="{{site.url}}/category/brescia"
            title="Visualizza tutti gli articoli archiviati in Brescia"
            >Brescia</a
          >
        </li>
        <li class="cat-item cat-item-58">
          <a
            href="{{site.url}}/category/brianza"
            title="Visualizza tutti gli articoli archiviati in Brianza"
            >Brianza</a
          >
        </li>
        <li class="cat-item cat-item-28">
          <a
            href="{{site.url}}/category/brugal"
            title="Visualizza tutti gli articoli archiviati in Brugal"
            >Brugal</a
          >
        </li>
        <li class="cat-item cat-item-9">
          <a
            href="{{site.url}}/category/caffe"
            title="Visualizza tutti gli articoli archiviati in caffè"
            >caffè</a
          >
        </li>
        <li class="cat-item cat-item-91">
          <a
            href="{{site.url}}/category/caraibi"
            title="Visualizza tutti gli articoli archiviati in Caraibi!"
            >Caraibi!</a
          >
        </li>
        <li class="cat-item cat-item-5">
          <a
            href="{{site.url}}/category/caramello"
            title="Visualizza tutti gli articoli archiviati in Caramello"
            >Caramello</a
          >
        </li>
        <li class="cat-item cat-item-70">
          <a
            href="{{site.url}}/category/caroni"
            title="Visualizza tutti gli articoli archiviati in Caroni"
            >Caroni</a
          >
        </li>
        <li class="cat-item cat-item-47">
          <a
            href="{{site.url}}/category/cigar-club"
            title="Visualizza tutti gli articoli archiviati in Cigar Club"
            >Cigar Club</a
          >
        </li>
        <li class="cat-item cat-item-60">
          <a
            href="{{site.url}}/category/cioccolati"
            title="Visualizza tutti gli articoli archiviati in Cioccolati"
            >Cioccolati</a
          >
        </li>
        <li class="cat-item cat-item-80">
          <a
            href="{{site.url}}/category/clement"
            title="Visualizza tutti gli articoli archiviati in Clement"
            >Clement</a
          >
        </li>
        <li class="cat-item cat-item-50">
          <a
            href="{{site.url}}/category/cocktail-bar"
            title="Visualizza tutti gli articoli archiviati in Cocktail Bar"
            >Cocktail Bar</a
          >
        </li>
        <li class="cat-item cat-item-93">
          <a
            href="{{site.url}}/category/cocktails"
            title="Visualizza tutti gli articoli archiviati in Cocktails"
            >Cocktails</a
          >
        </li>
        <li class="cat-item cat-item-56">
          <a
            href="{{site.url}}/category/collezionismo"
            title="Visualizza tutti gli articoli archiviati in Collezionismo"
            >Collezionismo</a
          >
        </li>
        <li class="cat-item cat-item-29">
          <a
            href="{{site.url}}/category/columbus"
            title="Visualizza tutti gli articoli archiviati in Columbus"
            >Columbus</a
          >
        </li>
        <li class="cat-item cat-item-26">
          <a
            href="{{site.url}}/category/commercial-brands"
            title="Visualizza tutti gli articoli archiviati in Commercial Brands"
            >Commercial Brands</a
          >
        </li>
        <li class="cat-item cat-item-102">
          <a
            href="{{site.url}}/category/cool-drinks"
            title="Visualizza tutti gli articoli archiviati in Cool Drinks"
            >Cool Drinks</a
          >
        </li>
        <li class="cat-item cat-item-35">
          <a
            href="{{site.url}}/category/corner-rum"
            title="Visualizza tutti gli articoli archiviati in Corner Rum"
            >Corner Rum</a
          >
        </li>
        <li class="cat-item cat-item-39">
          <a
            href="{{site.url}}/category/corsi"
            title="Visualizza tutti gli articoli archiviati in Corsi"
            >Corsi</a
          >
        </li>
        <li class="cat-item cat-item-11">
          <a
            href="{{site.url}}/category/cultura-del-rum"
            title="Visualizza tutti gli articoli archiviati in cultura del Rum"
            >cultura del Rum</a
          >
        </li>
        <li class="cat-item cat-item-82">
          <a
            href="{{site.url}}/category/damoiseau"
            title="Visualizza tutti gli articoli archiviati in Damoiseau"
            >Damoiseau</a
          >
        </li>
        <li class="cat-item cat-item-4">
          <a
            href="{{site.url}}/category/degustazioni"
            title="Visualizza tutti gli articoli archiviati in degustazioni"
            >degustazioni</a
          >
        </li>
        <li class="cat-item cat-item-19">
          <a
            href="{{site.url}}/category/demerara"
            title="Visualizza tutti gli articoli archiviati in Demerara"
            >Demerara</a
          >
        </li>
        <li class="cat-item cat-item-130">
          <a
            href="{{site.url}}/category/dictador"
            title="Visualizza tutti gli articoli archiviati in Dictador"
            >Dictador</a
          >
        </li>
        <li class="cat-item cat-item-149">
          <a
            href="{{site.url}}/category/diplomatico"
            title="Visualizza tutti gli articoli archiviati in Diplomatico"
            >Diplomatico</a
          >
        </li>
        <li class="cat-item cat-item-85">
          <a
            href="{{site.url}}/category/eldorado"
            title="Visualizza tutti gli articoli archiviati in Eldorado"
            >Eldorado</a
          >
        </li>
        <li class="cat-item cat-item-7">
          <a
            href="{{site.url}}/category/enjoy-rum"
            title="Visualizza tutti gli articoli archiviati in Enjoy Rum"
            >Enjoy Rum</a
          >
        </li>
        <li class="cat-item cat-item-51">
          <a
            href="{{site.url}}/category/enoteca"
            title="Visualizza tutti gli articoli archiviati in Enoteca"
            >Enoteca</a
          >
        </li>
        <li class="cat-item cat-item-20">
          <a
            href="{{site.url}}/category/eventi-internazionali"
            title="Visualizza tutti gli articoli archiviati in Eventi Internazionali"
            >Eventi Internazionali</a
          >
        </li>
        <li class="cat-item cat-item-74">
          <a
            href="{{site.url}}/category/flor-de-cana"
            title="Visualizza tutti gli articoli archiviati in Flor de Cana"
            >Flor de Cana</a
          >
        </li>
        <li class="cat-item cat-item-23">
          <a
            href="{{site.url}}/category/forum"
            title="Visualizza tutti gli articoli archiviati in Forum"
            >Forum</a
          >
        </li>
        <li class="cat-item cat-item-131">
          <a
            href="{{site.url}}/category/francia"
            title="Visualizza tutti gli articoli archiviati in Francia"
            >Francia</a
          >
        </li>
        <li class="cat-item cat-item-126">
          <a
            href="{{site.url}}/category/gardel"
            title="Visualizza tutti gli articoli archiviati in Gardel"
            >Gardel</a
          >
        </li>
        <li class="cat-item cat-item-87">
          <a
            href="{{site.url}}/category/grappa"
            title="Visualizza tutti gli articoli archiviati in grappa"
            >grappa</a
          >
        </li>
        <li class="cat-item cat-item-125">
          <a
            href="{{site.url}}/category/guadalupa"
            title="Visualizza tutti gli articoli archiviati in Guadalupa"
            >Guadalupa</a
          >
        </li>
        <li class="cat-item cat-item-117">
          <a
            href="{{site.url}}/category/haiti"
            title="Visualizza tutti gli articoli archiviati in Haiti"
            >Haiti</a
          >
        </li>
        <li class="cat-item cat-item-27">
          <a
            href="{{site.url}}/category/havana"
            title="Visualizza tutti gli articoli archiviati in Havana"
            >Havana</a
          >
        </li>
        <li class="cat-item cat-item-41">
          <a
            href="{{site.url}}/category/info"
            title="Visualizza tutti gli articoli archiviati in Info"
            >Info</a
          >
        </li>
        <li class="cat-item cat-item-99">
          <a
            href="{{site.url}}/category/ischia"
            title="Visualizza tutti gli articoli archiviati in Ischia"
            >Ischia</a
          >
        </li>
        <li class="cat-item cat-item-114">
          <a
            href="{{site.url}}/category/jm"
            title="Visualizza tutti gli articoli archiviati in J.M."
            >J.M.</a
          >
        </li>
        <li class="cat-item cat-item-24">
          <a
            href="{{site.url}}/category/jamaica"
            title="Visualizza tutti gli articoli archiviati in Jamaica"
            >Jamaica</a
          >
        </li>
        <li class="cat-item cat-item-122">
          <a
            href="{{site.url}}/category/karukera"
            title="Visualizza tutti gli articoli archiviati in Karukera"
            >Karukera</a
          >
        </li>
        <li class="cat-item cat-item-112">
          <a
            href="{{site.url}}/category/la-fabuleuse-aventure-du-rhum"
            title="Visualizza tutti gli articoli archiviati in La Fabuleuse Aventure du Rhum"
            >La Fabuleuse Aventure du Rhum</a
          >
        </li>
        <li class="cat-item cat-item-116">
          <a
            href="{{site.url}}/category/la-mauny"
            title="Visualizza tutti gli articoli archiviati in La Mauny"
            >La Mauny</a
          >
        </li>
        <li class="cat-item cat-item-68">
          <a
            href="{{site.url}}/category/lapalapa"
            title="Visualizza tutti gli articoli archiviati in Lapalapa"
            >Lapalapa</a
          >
        </li>
        <li class="cat-item cat-item-18">
          <a
            href="{{site.url}}/category/lieviti"
            title="Visualizza tutti gli articoli archiviati in lieviti"
            >lieviti</a
          >
        </li>
        <li class="cat-item cat-item-61">
          <a
            href="{{site.url}}/category/londra"
            title="Visualizza tutti gli articoli archiviati in Londra"
            >Londra</a
          >
        </li>
        <li class="cat-item cat-item-120">
          <a
            href="{{site.url}}/category/longueteau"
            title="Visualizza tutti gli articoli archiviati in Longueteau"
            >Longueteau</a
          >
        </li>
        <li class="cat-item cat-item-77">
          <a
            href="{{site.url}}/category/malecon"
            title="Visualizza tutti gli articoli archiviati in Malecon"
            >Malecon</a
          >
        </li>
        <li class="cat-item cat-item-150">
          <a
            href="{{site.url}}/category/malteco"
            title="Visualizza tutti gli articoli archiviati in Malteco"
            >Malteco</a
          >
        </li>
        <li class="cat-item cat-item-64">
          <a
            href="{{site.url}}/category/mantova"
            title="Visualizza tutti gli articoli archiviati in Mantova"
            >Mantova</a
          >
        </li>
        <li class="cat-item cat-item-128">
          <a
            href="{{site.url}}/category/marie-galante"
            title="Visualizza tutti gli articoli archiviati in Marie Galante"
            >Marie Galante</a
          >
        </li>
        <li class="cat-item cat-item-113">
          <a
            href="{{site.url}}/category/martinica"
            title="Visualizza tutti gli articoli archiviati in Martinica"
            >Martinica</a
          >
        </li>
        <li class="cat-item cat-item-76">
          <a
            href="{{site.url}}/category/matusalem"
            title="Visualizza tutti gli articoli archiviati in Matusalem"
            >Matusalem</a
          >
        </li>
        <li class="cat-item cat-item-6">
          <a
            href="{{site.url}}/category/mercato"
            title="Visualizza tutti gli articoli archiviati in mercato"
            >mercato</a
          >
        </li>
        <li class="cat-item cat-item-92">
          <a
            href="{{site.url}}/category/mercato-usa"
            title="Visualizza tutti gli articoli archiviati in mercato USA"
            >mercato USA</a
          >
        </li>
        <li class="cat-item cat-item-48">
          <a
            href="{{site.url}}/category/milano"
            title="Visualizza tutti gli articoli archiviati in Milano"
            >Milano</a
          >
        </li>
        <li class="cat-item cat-item-72">
          <a
            href="{{site.url}}/category/millesimati"
            title="Visualizza tutti gli articoli archiviati in Millesimati"
            >Millesimati</a
          >
        </li>
        <li class="cat-item cat-item-110">
          <a
            href="{{site.url}}/category/ministry-of-rum"
            title="Visualizza tutti gli articoli archiviati in Ministry Of Rum"
            >Ministry Of Rum</a
          >
        </li>
        <li class="cat-item cat-item-42">
          <a
            href="{{site.url}}/category/modena"
            title="Visualizza tutti gli articoli archiviati in Modena"
            >Modena</a
          >
        </li>
        <li class="cat-item cat-item-123">
          <a
            href="{{site.url}}/category/montebello"
            title="Visualizza tutti gli articoli archiviati in Montebello"
            >Montebello</a
          >
        </li>
        <li class="cat-item cat-item-84">
          <a
            href="{{site.url}}/category/mount-gay"
            title="Visualizza tutti gli articoli archiviati in Mount Gay"
            >Mount Gay</a
          >
        </li>
        <li class="cat-item cat-item-97">
          <a
            href="{{site.url}}/category/murray-mc-david"
            title="Visualizza tutti gli articoli archiviati in Murray Mc David"
            >Murray Mc David</a
          >
        </li>
        <li class="cat-item cat-item-49">
          <a
            href="{{site.url}}/category/navigli"
            title="Visualizza tutti gli articoli archiviati in Navigli"
            >Navigli</a
          >
        </li>
        <li class="cat-item cat-item-129">
          <a
            href="{{site.url}}/category/navy-rum"
            title="Visualizza tutti gli articoli archiviati in Navy Rum"
            >Navy Rum</a
          >
        </li>
        <li class="cat-item cat-item-118">
          <a
            href="{{site.url}}/category/novita"
            title="Visualizza tutti gli articoli archiviati in Novità"
            >Novità</a
          >
        </li>
        <li class="cat-item cat-item-54">
          <a
            href="{{site.url}}/category/other-spirits"
            title="Visualizza tutti gli articoli archiviati in Other Spirits.."
            >Other Spirits..</a
          >
        </li>
        <li class="cat-item cat-item-31">
          <a
            href="{{site.url}}/category/overproof"
            title="Visualizza tutti gli articoli archiviati in OverProof"
            >OverProof</a
          >
        </li>
        <li class="cat-item cat-item-37">
          <a
            href="{{site.url}}/category/pampero"
            title="Visualizza tutti gli articoli archiviati in Pampero"
            >Pampero</a
          >
        </li>
        <li class="cat-item cat-item-32">
          <a
            href="{{site.url}}/category/party"
            title="Visualizza tutti gli articoli archiviati in Party"
            >Party</a
          >
        </li>
        <li class="cat-item cat-item-106">
          <a
            href="{{site.url}}/category/piacenza"
            title="Visualizza tutti gli articoli archiviati in Piacenza"
            >Piacenza</a
          >
        </li>
        <li class="cat-item cat-item-21">
          <a
            href="{{site.url}}/category/pirati"
            title="Visualizza tutti gli articoli archiviati in Pirati"
            >Pirati</a
          >
        </li>
        <li class="cat-item cat-item-10">
          <a
            href="{{site.url}}/category/prezzi"
            title="Visualizza tutti gli articoli archiviati in prezzi"
            >prezzi</a
          >
        </li>
        <li class="cat-item cat-item-101">
          <a
            href="{{site.url}}/category/puglia"
            title="Visualizza tutti gli articoli archiviati in Puglia"
            >Puglia</a
          >
        </li>
        <li class="cat-item cat-item-105">
          <a
            href="{{site.url}}/category/rassegna-stampa"
            title="Visualizza tutti gli articoli archiviati in Rassegna Stampa"
            >Rassegna Stampa</a
          >
        </li>
        <li class="cat-item cat-item-107">
          <a
            href="{{site.url}}/category/rhum-rhum"
            title="Visualizza tutti gli articoli archiviati in Rhum Rhum"
            >Rhum Rhum</a
          >
        </li>
        <li class="cat-item cat-item-45">
          <a
            href="{{site.url}}/category/roma"
            title="Visualizza tutti gli articoli archiviati in Roma"
            >Roma</a
          >
        </li>
        <li class="cat-item cat-item-103">
          <a
            href="{{site.url}}/category/rum-food"
            title="Visualizza tutti gli articoli archiviati in Rum &amp; Food"
            >Rum &amp; Food</a
          >
        </li>
        <li class="cat-item cat-item-109">
          <a
            href="{{site.url}}/category/rum-the-city"
            title="Visualizza tutti gli articoli archiviati in Rum &amp; the City"
            >Rum &amp; the City</a
          >
        </li>
        <li class="cat-item cat-item-151">
          <a
            href="{{site.url}}/category/rumclub"
            title="Visualizza tutti gli articoli archiviati in RumClub"
            >RumClub</a
          >
        </li>
        <li class="cat-item cat-item-98">
          <a
            href="{{site.url}}/category/rumclub-20"
            title="Visualizza tutti gli articoli archiviati in RumClub 2.0"
            >RumClub 2.0</a
          >
        </li>
        <li class="cat-item cat-item-79">
          <a
            href="{{site.url}}/category/saint-james"
            title="Visualizza tutti gli articoli archiviati in Saint James"
            >Saint James</a
          >
        </li>
        <li class="cat-item cat-item-73">
          <a
            href="{{site.url}}/category/santa-teresa"
            title="Visualizza tutti gli articoli archiviati in Santa Teresa"
            >Santa Teresa</a
          >
        </li>
        <li class="cat-item cat-item-30">
          <a
            href="{{site.url}}/category/santiago-de-cuba"
            title="Visualizza tutti gli articoli archiviati in Santiago de Cuba"
            >Santiago de Cuba</a
          >
        </li>
        <li class="cat-item cat-item-66">
          <a
            href="{{site.url}}/category/selezioni-bristol-spirits"
            title="Visualizza tutti gli articoli archiviati in Selezioni Bristol Spirits"
            >Selezioni Bristol Spirits</a
          >
        </li>
        <li class="cat-item cat-item-46">
          <a
            href="{{site.url}}/category/selezioni-cadenheads"
            title="Visualizza tutti gli articoli archiviati in Selezioni Cadenhead's"
            >Selezioni Cadenhead's</a
          >
        </li>
        <li class="cat-item cat-item-36">
          <a
            href="{{site.url}}/category/selezioni-gargano"
            title="Visualizza tutti gli articoli archiviati in Selezioni Gargano"
            >Selezioni Gargano</a
          >
        </li>
        <li class="cat-item cat-item-65">
          <a
            href="{{site.url}}/category/selezioni-moon-import"
            title="Visualizza tutti gli articoli archiviati in Selezioni Moon Import"
            >Selezioni Moon Import</a
          >
        </li>
        <li class="cat-item cat-item-34">
          <a
            href="{{site.url}}/category/selezioni-nadi-fiori"
            title="Visualizza tutti gli articoli archiviati in Selezioni Nadi Fiori"
            >Selezioni Nadi Fiori</a
          >
        </li>
        <li class="cat-item cat-item-69">
          <a
            href="{{site.url}}/category/selezioni-plantation"
            title="Visualizza tutti gli articoli archiviati in Selezioni Plantation"
            >Selezioni Plantation</a
          >
        </li>
        <li class="cat-item cat-item-40">
          <a
            href="{{site.url}}/category/selezioni-rum-nation"
            title="Visualizza tutti gli articoli archiviati in Selezioni Rum Nation"
            >Selezioni Rum Nation</a
          >
        </li>
        <li class="cat-item cat-item-63">
          <a
            href="{{site.url}}/category/selezioni-samaroli"
            title="Visualizza tutti gli articoli archiviati in Selezioni Samaroli"
            >Selezioni Samaroli</a
          >
        </li>
        <li class="cat-item cat-item-53">
          <a
            href="{{site.url}}/category/settore"
            title="Visualizza tutti gli articoli archiviati in settore"
            >settore</a
          >
        </li>
        <li class="cat-item cat-item-121">
          <a
            href="{{site.url}}/category/severin"
            title="Visualizza tutti gli articoli archiviati in Severin"
            >Severin</a
          >
        </li>
        <li class="cat-item cat-item-52">
          <a
            href="{{site.url}}/category/sigari"
            title="Visualizza tutti gli articoli archiviati in Sigari"
            >Sigari</a
          >
        </li>
        <li class="cat-item cat-item-124">
          <a
            href="{{site.url}}/category/solera"
            title="Visualizza tutti gli articoli archiviati in Solera"
            >Solera</a
          >
        </li>
        <li class="cat-item cat-item-15">
          <a
            href="{{site.url}}/category/the-rum-diary"
            title="Visualizza tutti gli articoli archiviati in The Rum Diary"
            >The Rum Diary</a
          >
        </li>
        <li class="cat-item cat-item-67">
          <a
            href="{{site.url}}/category/tijuana-cafe"
            title="Visualizza tutti gli articoli archiviati in Tijuana Cafè"
            >Tijuana Cafè</a
          >
        </li>
        <li class="cat-item cat-item-59">
          <a
            href="{{site.url}}/category/torino"
            title="Visualizza tutti gli articoli archiviati in Torino"
            >Torino</a
          >
        </li>
        <li class="cat-item cat-item-115">
          <a
            href="{{site.url}}/category/trois-riviere"
            title="Visualizza tutti gli articoli archiviati in Trois Riviere"
            >Trois Riviere</a
          >
        </li>
        <li class="cat-item cat-item-1">
          <a
            href="{{site.url}}/category/uncategorized"
            title="Visualizza tutti gli articoli archiviati in Uncategorized"
            >Uncategorized</a
          >
        </li>
        <li class="cat-item cat-item-22">
          <a
            href="{{site.url}}/category/vacanze"
            title="Visualizza tutti gli articoli archiviati in vacanze"
            >vacanze</a
          >
        </li>
        <li class="cat-item cat-item-119">
          <a
            href="{{site.url}}/category/velier"
            title="Visualizza tutti gli articoli archiviati in Velier"
            >Velier</a
          >
        </li>
        <li class="cat-item cat-item-43">
          <a
            href="{{site.url}}/category/venezia"
            title="Visualizza tutti gli articoli archiviati in Venezia"
            >Venezia</a
          >
        </li>
        <li class="cat-item cat-item-71">
          <a
            href="{{site.url}}/category/verticale"
            title="Visualizza tutti gli articoli archiviati in Verticale"
            >Verticale</a
          >
        </li>
        <li class="cat-item cat-item-44">
          <a
            href="{{site.url}}/category/vodka"
            title="Visualizza tutti gli articoli archiviati in Vodka"
            >Vodka</a
          >
        </li>
        <li class="cat-item cat-item-62">
          <a
            href="{{site.url}}/category/whisky"
            title="Visualizza tutti gli articoli archiviati in Whisky"
            >Whisky</a
          >
        </li>
        <li class="cat-item cat-item-88">
          <a
            href="{{site.url}}/category/wirspa"
            title="Visualizza tutti gli articoli archiviati in WIRSPA"
            >WIRSPA</a
          >
        </li>
        <li class="cat-item cat-item-8">
          <a
            href="{{site.url}}/category/zacapa"
            title="Visualizza tutti gli articoli archiviati in Zacapa"
            >Zacapa</a
          >
        </li>
      </ul>
      <div class="subcontent-unit-noborder">
        <div class="round-border-topleft"></div>
        <div class="round-border-topright"></div>
        <ul>
          <li id="archives" class="archivio"><h2>&nbsp;</h2></li>
          <li>
            <a href="{{site.url}}/2012/06" title="Giugno 2012">Giugno 2012</a>
          </li>
          <li>
            <a href="{{site.url}}/2012/05" title="Maggio 2012">Maggio 2012</a>
          </li>
          <li>
            <a href="{{site.url}}/2011/10" title="Ottobre 2011">Ottobre 2011</a>
          </li>
          <li>
            <a href="{{site.url}}/2011/02" title="Febbraio 2011"
              >Febbraio 2011</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2011/01" title="Gennaio 2011">Gennaio 2011</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/12" title="Dicembre 2010"
              >Dicembre 2010</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2010/11" title="Novembre 2010"
              >Novembre 2010</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2010/10" title="Ottobre 2010">Ottobre 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/09" title="Settembre 2010"
              >Settembre 2010</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2010/08" title="Agosto 2010">Agosto 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/07" title="Luglio 2010">Luglio 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/06" title="Giugno 2010">Giugno 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/05" title="Maggio 2010">Maggio 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/04" title="Aprile 2010">Aprile 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/03" title="Marzo 2010">Marzo 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2010/02" title="Febbraio 2010"
              >Febbraio 2010</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2010/01" title="Gennaio 2010">Gennaio 2010</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/12" title="Dicembre 2009"
              >Dicembre 2009</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2009/11" title="Novembre 2009"
              >Novembre 2009</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2009/10" title="Ottobre 2009">Ottobre 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/09" title="Settembre 2009"
              >Settembre 2009</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2009/08" title="Agosto 2009">Agosto 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/05" title="Maggio 2009">Maggio 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/04" title="Aprile 2009">Aprile 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/03" title="Marzo 2009">Marzo 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2009/02" title="Febbraio 2009"
              >Febbraio 2009</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2009/01" title="Gennaio 2009">Gennaio 2009</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/12" title="Dicembre 2008"
              >Dicembre 2008</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2008/11" title="Novembre 2008"
              >Novembre 2008</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2008/09" title="Settembre 2008"
              >Settembre 2008</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2008/08" title="Agosto 2008">Agosto 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/07" title="Luglio 2008">Luglio 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/06" title="Giugno 2008">Giugno 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/05" title="Maggio 2008">Maggio 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/04" title="Aprile 2008">Aprile 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/03" title="Marzo 2008">Marzo 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2008/02" title="Febbraio 2008"
              >Febbraio 2008</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2008/01" title="Gennaio 2008">Gennaio 2008</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/12" title="Dicembre 2007"
              >Dicembre 2007</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2007/11" title="Novembre 2007"
              >Novembre 2007</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2007/10" title="Ottobre 2007">Ottobre 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/09" title="Settembre 2007"
              >Settembre 2007</a
            >
          </li>
          <li>
            <a href="{{site.url}}/2007/08" title="Agosto 2007">Agosto 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/07" title="Luglio 2007">Luglio 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/06" title="Giugno 2007">Giugno 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/05" title="Maggio 2007">Maggio 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/04" title="Aprile 2007">Aprile 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/03" title="Marzo 2007">Marzo 2007</a>
          </li>
          <li>
            <a href="{{site.url}}/2007/02/" title="Febbraio 2007"
              >Febbraio 2007</a
            >
          </li>
        </ul>
      </div>
      <div class="subcontent-unit-noborder">
        <div class="round-border-topleft"></div>
        <div class="round-border-topright"></div>
        <ul>
          <li id="meta" class="meta">
            <h2>&nbsp;</h2>
          </li>
          <li></li>
          <li><a href="#">Login</a></li>
          <li>
            <a href="" title="Syndicate this site using RSS"
              ><abbr title="Really Simple Syndication">RSS</abbr></a
            >
          </li>
          <li>
            <a href="" title="The latest comments to all posts in RSS"
              >Comments <abbr title="Really Simple Syndication">RSS</abbr></a
            >
          </li>
        </ul>
      </div>
    </div>
  </ul>
</div>
