<div id="leftnav">
  <ul id="sidebarright">

      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <li id="pages" class="menu">
              <h2>&nbsp;</h2>
              <ul>
                  <div class="post" id="post-741">
                      <h3 class="titleside"><a href="{{site.url}}/the-rum-diary-9-wray-nephew-overproof-jamaica/" rel="bookmark" title="Permanent Link to The Rum Diary 8 - Wray &amp; Nephew OverProof - Jamaica">The Rum Diary 8 - Wray &amp; Nephew OverProof - Jamaica</a></h3>
                      <div class="entry">
                          <p>Circa un anno fa comprai un introvabile Wray&amp;Nephew OverProof Jamaicano e regalai la bottiglia al LAPALAPA,conscio che lì sarebbe rimasta in buone mani..<br> Ebbene passo dentro alla vigilia di Natale a fare gli auguri
                              e lo vedo aperto, per cui ho letto il classico messaggio del destino: Babbo Natale mi stava portando il regalino: una bella […]</p>
                      </div>
                  </div>
              </ul>
          </li>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <li id="degustazioni" class="degustazioni">
              <h2>&nbsp;</h2>
              <ul>
                  <p><a href="{{site.url}}/eventi-e-degustazioni/" title="Eventi e degustazioni" target="_self">L'elenco completo delle degustazioni svolte dal RumClub nei locali serali e nei ristoranti e degli eventi fatti per conto di aziende, enti e agenzie di comunicazione operanti nel settore.</a></p>

              </ul>
          </li>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <li id="academia" class="academia">
              <h2>&nbsp;</h2>
              <ul>
                  <a href="{{site.url}}/academia-de-ron/" title="Academia de Ron" target="_self"><img src="{{site.url}}/assets/images/certificatoPiccolo.jpg" alt="Certificato Academia"></a>
                  <p><a href="{{site.url}}/academia-de-ron/" title="Academia de Ron" target="_self">Il primo corso in Italia su tutto ció che riguarda il Rum.</a></p>

              </ul>
          </li>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <li id="extras" class="extras">
              <h2>&nbsp;</h2>
              <ul>

                  <p>
                      <a href="" title="Single Malt Club - Degustazione Verticale Bruichladdich" target="_blank"></a><br>
                      <a href="" title="Single Malt Club - Degustazione Verticale Bruichladdich" target="_blank">Single Malt Club - Degustazione Verticale Bruichladdich</a></p>
                  <p><a href="{{site.url}}/corso-base-di-degustazione-liquori-distillati/" title="Extras" target="_self">Corso Base di Degustazione Liquori &amp; Distillati</a></p>
                  <p><a href="{{site.url}}/brand-ambassador-the-glenlivet/" title="Extras" target="_self">BRAND AMBASSADOR The GlenLivet</a></p>


              </ul>
          </li>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <li id="partners" class="partners">
              <h2>&nbsp;</h2>
              <ul>
                  <a href="http://www.lapalapa.it/" target="_blank"><img src="{{site.url}}/assets/images/lapalapa.jpg" alt="winenight" border="0"></a><br>
                  <a href="http://www.winenight.it/" target="_blank"><img src="{{site.url}}/assets/images/winenight.jpg" alt="winenight"></a>
              </ul>
          </li>
      </div>
  </ul>
</div>
<div id="rightnav">
  <ul id="sidebarleft">
      <a href="{{site.url}}/forum" title="Vai al forum" target="_blank"><img src="{{site.url}}/assets/images/forum.jpg" alt="Vai al forum" width="150" height="150"></a>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <ul>
              <li id="meta" class="iscriviti">
                  <h2>&nbsp;</h2>
                  <!-- place your HTML code here -->

                  <div class="newsletterContainer" id="ajaxNewsletter">
                      <form action="" name="newsletterForm" id="newsletterForm" method="post">
                          <div class="rightAlign" id="newsletterFormDiv">
                              <input class="newsletterTextInput" onblur="if(this.value==''){this.value='Enter your email'}" onfocus="if(this.value=='Enter your email'){this.value=''}" type="text" name="email" value="Inserisci e-mail">
                              <input type="hidden" id="newsletter" name="newsletter" value="true">
                              <input class="submit" type="submit" name="newsletterSub" value="Iscriviti al RumClub">
                          </div>
                      </form>
                  </div>
                  <!-- place your HTML code here -->
                  <br>
                  <a href="{{site.url}}/form_operatori.html" title="Iscrizione al Circuito Operatori RumClub" target="_blank"><strong>SEI UN OPERATORE?</strong><br>
    CLICCA QUI</a><br>
                  <a href="{{site.url}}/area-operatori-rumclub/" title="Area Operatori" target="_self"><strong>AREA OPERATORI</strong></a><br>
                  <a href="{{site.url}}/regolamento/" title="Iscrizione Operatori" target="_self">Regolamento</a></li>
          </ul>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <ul>
              <li id="meta" class="cerca">
                  <h2>&nbsp;</h2>
                  <!-- SiteSearch Google -->
                  <form method="get" action="http://www.google.it/custom" target="google_window">
                      <table border="0" bgcolor="#FEAA36">
                          <tbody>
                              <tr>
                                  <td nowrap="nowrap" valign="top" align="left" height="32">

                                      <br>
                                      <input type="hidden" name="domains" value="www.rumclub.org">
                                      <label for="sbi" style="display: none">Inserisci i termini di ricerca</label>
                                      <input type="text" name="q" size="23" maxlength="255" value="" id="sbi">
                                  </td>
                              </tr>
                              <tr align="center">
                                  <td nowrap="nowrap">
                                      <table>
                                          <tbody>
                                              <tr>
                                                  <td>
                                                      <input type="radio" name="sitesearch" value="" id="ss0">
                                                      <label for="ss0" title="Ricerca nel Web"><font size="-1" color="#000000">Web</font></label></td>
                                                  <td>
                                                      <input type="radio" name="sitesearch" value="www.rumclub.org" checked="" id="ss1">
                                                      <label for="ss1" title="Cerca www.rumclub.org"><font size="-1" color="#000000">rumclub</font></label></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      <label for="sbb" style="display: none">Invia modulo di ricerca</label>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center"><input type="submit" name="sa" value="Cerca con Google" id="sbb">
                                      <input type="hidden" name="client" value="pub-3873214457772756">
                                      <input type="hidden" name="forid" value="1">
                                      <input type="hidden" name="ie" value="ISO-8859-1">
                                      <input type="hidden" name="oe" value="ISO-8859-1">
                                      <input type="hidden" name="flav" value="0000">
                                      <input type="hidden" name="sig" value="_30-psAjy2opfKOO">
                                      <input type="hidden" name="cof" value="GALT:#11593C;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FEAA36;LBGC:ffffff;ALC:931111;LC:931111;T:000000;GFNT:940F04;GIMP:940F04;LH:50;LW:600;L:http://www.rumclub.org/wp-content/themes/rumclub/img/logoCerca.jpg;S:http://www.rumclub.org;FORID:1">
                                      <input type="hidden" name="hl" value="it"></td>
                              </tr>
                          </tbody>
                      </table>
                  </form>
              </li>
          </ul>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <ul>
              <li id="faq" class="faq">
                  <h2>&nbsp;</h2>

                  <p><a href="{{site.url}}/faq/" title="FAQ" target="_self">L‘area riservata alle domande frequenti, spesso interessanti, a volte bislacche e apparentemente banali, ma non cosí scontate per chi non é un intenditore.</a></p>
              </li>
          </ul>
      </div>
      <div class="subcontent-unit-noborder">
          <div class="round-border-topleft"></div>
          <div class="round-border-topright"></div>
          <ul>
              <li id="categories" class="categorie">
                  <h2>&nbsp;</h2>

              </li>
              <li><a href="{{site.url}}/category/agricole/" title="View all posts filed under Agricòle">Agricòle</a>
              </li>
              <li><a href="{{site.url}}/category/brugal/" title="View all posts filed under Brugal">Brugal</a>
              </li>
              <li><a href="{{site.url}}/category/caffe/" title="View all posts filed under caffè">caffè</a>
              </li>
              <li><a href="{{site.url}}/category/caramello/" title="View all posts filed under Caramello">Caramello</a>
              </li>
              <li><a href="{{site.url}}/category/columbus/" title="View all posts filed under Columbus">Columbus</a>
              </li>
              <li><a href="{{site.url}}/category/commercial-brands/" title="View all posts filed under Commercial Brands">Commercial Brands</a>
              </li>
              <li><a href="{{site.url}}/category/cultura-del-rum/" title="View all posts filed under cultura del Rum">cultura del Rum</a>
              </li>
              <li><a href="{{site.url}}/category/degustazioni/" title="View all posts filed under degustazioni">degustazioni</a>
              </li>
              <li><a href="{{site.url}}/category/demerara/" title="View all posts filed under Demerara">Demerara</a>
              </li>
              <li><a href="{{site.url}}/category/dove-andare/" title="View all posts filed under dove andare">dove andare</a>
              </li>
              <li><a href="{{site.url}}/category/enjoy-rum/" title="View all posts filed under Enjoy Rum">Enjoy Rum</a>
              </li>
              <li><a href="{{site.url}}/category/eventi-internazionali/" title="View all posts filed under Eventi Internazionali">Eventi Internazionali</a>
              </li>
              <li><a href="{{site.url}}/category/forum/" title="View all posts filed under Forum">Forum</a>
              </li>
              <li><a href="{{site.url}}/category/havana/" title="View all posts filed under Havana">Havana</a>
              </li>
              <li><a href="{{site.url}}/category/jamaica/" title="View all posts filed under Jamaica">Jamaica</a>
              </li>
              <li><a href="{{site.url}}/category/lieviti/" title="View all posts filed under lieviti">lieviti</a>
              </li>
              <li><a href="{{site.url}}/category/mercato/" title="View all posts filed under mercato">mercato</a>
              </li>
              <li><a href="{{site.url}}/category/moon-import/" title="View all posts filed under Moon Import">Moon Import</a>
              </li>
              <li>
                  <a href="{{site.url}}/category/newsletter/" title="View all posts filed under Newsletter"></a>
              </li>
              <li><a href="{{site.url}}/category/overproof/" title="View all posts filed under OverProof">OverProof</a>
              </li>
              <li><a href="{{site.url}}/category/party/" title="View all posts filed under Party">Party</a>
              </li>
              <li><a href="{{site.url}}/category/pirati/" title="View all posts filed under Pirati">Pirati</a>
              </li>
              <li><a href="{{site.url}}/category/prezzi/" title="View all posts filed under prezzi">prezzi</a>
              </li>
              <li><a href="{{site.url}}/category/santiago-de-cuba/" title="View all posts filed under Santiago de Cuba">Santiago de Cuba</a>
              </li>
              <li><a href="{{site.url}}/category/selezioni/" title="View all posts filed under Selezioni">Selezioni</a>
              </li>
              <li><a href="{{site.url}}/category/the-rum-diary/" title="View all posts filed under The Rum Diary">The Rum Diary</a>
              </li>
              <li>
                  <a href="{{site.url}}/category/uncategorized/" title="View all posts filed under Uncategorized"></a>
              </li>
              <li><a href="{{site.url}}/category/vacanze/" title="View all posts filed under vacanze">vacanze</a>
              </li>
              <li><a href="{{site.url}}/category/zacapa/" title="View all posts filed under Zacapa">Zacapa</a>
              </li>

          </ul>
          <div class="subcontent-unit-noborder">
              <div class="round-border-topleft"></div>
              <div class="round-border-topright"></div>
              <ul>
                  <li id="archives" class="archivio">
                      <h2>&nbsp;</h2>

                  </li>
                  <li><a href="{{site.url}}/2008/02/" title="February 2008">February 2008</a></li>
                  <li><a href="{{site.url}}/2008/01/" title="January 2008">January 2008</a></li>
                  <li><a href="{{site.url}}/2007/12/" title="December 2007">December 2007</a></li>
                  <li><a href="{{site.url}}/2007/11/" title="November 2007">November 2007</a></li>
                  <li><a href="{{site.url}}/2007/10/" title="October 2007">October 2007</a></li>
                  <li><a href="{{site.url}}/2007/09/" title="September 2007">September 2007</a></li>
                  <li><a href="{{site.url}}/2007/08/" title="August 2007">August 2007</a></li>
                  <li><a href="{{site.url}}/2007/07/" title="July 2007">July 2007</a></li>
                  <li><a href="{{site.url}}/2007/06/" title="June 2007">June 2007</a></li>
                  <li><a href="{{site.url}}/2007/05/" title="May 2007">May 2007</a></li>
                  <li><a href="{{site.url}}/2007/04/" title="April 2007">April 2007</a></li>
                  <li><a href="{{site.url}}/2007/03/" title="March 2007">March 2007</a></li>

              </ul>
          </div>
          <div class="subcontent-unit-noborder">
              <div class="round-border-topleft"></div>
              <div class="round-border-topright"></div>
              <ul>
                  <li id="meta" class="meta">
                      <h2>&nbsp;</h2>
                  </li>
                  <li></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="{{site.url}}/feed/" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
                  <li><a href="{{site.url}}/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>

              </ul>
          </div>

      </div>
  </ul>

</div>