<div class="entrytext">
    <p>Amanti del Rum,<br> purtroppo questa è una delle pagine ancora da scrivere,<br> ci sto mettendo il minor tempo possibile, combattendo con il tempo che (non) ho.</p>
    <p>Se siete interessati a questa pagina, <a href="{{site.url}}/contatti/">contattatemi</a> e le darò la precedenza,<br> e in pochi giorni sarà pronta on-line.</p>
    <p>Vi invito ancora, già che ci sono, a <a href="{{site.url}}/contatti/">mandarmi</a> anche eventuali valutazioni, esperienze, assaggi e quant’altro per velocizzare e migliorare i contenuti del RumClub, mica posso scrivere tutto io..</p>
    <p>Ciao</p>
</div>