<div id="navigation">
    <ul id="pmenu">
        <li><a href="{{site.url}}/rumclub/">HOME/BLOG</a></li>
        <li><a href="{{site.url}}/rumclub/il-club">IL CLUB</a>
            <ul>
                <li><a href="{{site.url}}/rumclub/il-club" class="enclose">Presentazione</a></li>
                <li><a href="{{site.url}}/rumclub/il-club/le-origini-del-club">Le origini</a></li>
            </ul>
        </li>
        <li><a href="{{site.url}}/rumclub/prodotti">IL RUM</a>
            <ul>
                <li><a href="{{site.url}}/rumclub/prodotti" class="enclose">Intro al Rum</a></li>
                <li class="fly"><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z">Tutti i Rum!</a>
                    <ul>
                        <li><a href="" class="enclose">Paesi produttori</a>
                            <ul>
                                <li><a href="" class="enclose">Stile Spagnolo</a>
                                    <ul>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba" class="enclose">Cuba</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba/havana-club" class="enclose">Havana Club</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba/santiago-de-cuba">Santiago de Cuba</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba/caribbean-club">Caribbean Club-CIMEX</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba/varadero">Varadero</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/cuba/legendario">Legendario</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/repubblica-dominicana">Rep. Dominicana</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/repubblica-dominicana/brugal" class="enclose">Brugal</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/repubblica-dominicana/barcelo">Barceló</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/repubblica-dominicana/columbus">Columbus</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/repubblica-dominicana/bermudez">Bermudez</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/puerto-rico">Porto Rico</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/puerto-rico/bacardi" class="enclose">Bacardi</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/puerto-rico/captain-morgan">Captain Morgan</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/puerto-rico/donq-destileria-serralles">DonQ - Serralles</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/us-virgin-islands">U.S. Virgin Islands</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/us-virgin-islands/cruzan" class="enclose">Cruzan</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela">Venezuela</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela/santa-teresa" class="enclose">Santa Teresa</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela/pampero">Pampero</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela/carupano">Carupano</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela/cacique">Cacique</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/venezuela/ocumare">Ocumare</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/peru">Perú</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/peru/cartavio" class="enclose">Cartavio</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/colombia">Colombia</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/colombia/caldas" class="enclose">Caldas</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/122">Nicaragua</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/122/cln-flor-de-cana" class="enclose">CLN - Flor de Cana</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/122/cln-volcano-collection">CLN - Volcano</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/122/cln-zapatera">CLN - Zapatera</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guatemala">Guatemala</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guatemala/zacapa" class="enclose">Zacapa</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guatemala/botran">Botran</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guatemala/zaya">Zaya</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/panama">Panama</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/panama" class="enclose">Malecon</a></li>
                                                <li><a href="">Coiba</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/spagna-canarie">Spagna - Canarie</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Stile Inglese</a>
                                    <ul>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/jamaica" class="enclose">Jamaica</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/jamaica/appleton" class="enclose">Appleton</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/jamaica/appleton">Wray &amp; Nephew</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/jamaica/myers">Myer's</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/jamaica/western-pearl">Western Pearl</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados">Barbados</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados/mount-gay" class="enclose">Mount Gay</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados/foresquare">Foresquare</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados/doorlys">Doorly's</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados/rl-seale-co">R.L. Seale &amp; Co.</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/barbados/cockspur">Cockspur</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/trinidad">Trinidad</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/trinidad/angostura" class="enclose">Angostura</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/trinidad/caroni">Caroni</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/trinidad/caroni">Fernandes</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/trinidad/forres-park">Forres Park</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guyana-britannica">Guyana Britannica</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guyana-britannica/demerara-distilleries-el-dorado" class="enclose">Demerara - El Dorado</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guyana-britannica/xm-rum">XM Rum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/united-kingdom">U.K.</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/united-kingdom/four-bells" class="enclose">Four Bells</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/united-kingdom/lambs-navy-rum">Lamb's Navy Rum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/antigua">Antigua</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/antigua/english-harbour" class="enclose">English Harbour</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/antigua/cavalier">Cavalier</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/anguilla">Anguilla</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/anguilla/pyrat" class="enclose">Pyrat</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/british-virgin-islands">U.K.Virgin Islands</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/british-virgin-islands/pussers-original-british-navy-rum" class="enclose">Pusser's Navy Rum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/bermuda">Bermuda</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/bermuda/goslings" class="enclose">Gosling's Navy Rum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/st-lucia">St. Lucia</a>
                                            <ul>
                                                <li><a href="" class="enclose">Admiral Rodney</a></li>
                                                <li><a href="" class="enclose">Chairman's Reserve</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/australia">Australia</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/australia/inner-circle" class="enclose">Inner Circle</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/australia/bundaberg" class="enclose">Bundaberg</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/australia/bundaberg" class="enclose">Beenleigh </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/india-nepal">India - Nepal</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/india-nepal/xxx-khukri" class="enclose">XXX Khukri</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/india-nepal/sikkim-distilleries" class="enclose">Sikkim Distilleries</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="">Stile Francese</a>
                                    <ul>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2" class="enclose">Martinica</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/clement" class="enclose">Clement</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/st-james" class="enclose">St. James</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/neisson" class="enclose">Neisson</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/martinica" class="enclose">J.Bally</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/depaz" class="enclose">Depaz</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/dillon" class="enclose">Dillon</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/trois-rivieres" class="enclose">Trois Rivieres</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/martinica-2/simonnet-saint-etienne" class="enclose">Simonnet-Saint Etienne</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo">Guadalupa</a>
                                            <ul>
                                                <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo" class="enclose">Damoiseau</a></li>
                                                <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo" class="enclose">Montebello</a></li>
                                                <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo" class="enclose">Domaine de Severin</a></li>
                                                <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo" class="enclose">Reimonenq</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/marie-galante">Marie-Galante</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/marie-galante/distillerie-bielle" class="enclose">Distillerie Bielle</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/haiti">Haiti</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/haiti/barbancourt" class="enclose">Barbancourt</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guyana-francese">Guyana Francese</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/guyana-francese/ste-maurice-la-cayennaise" class="enclose">La Cayennaise</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/ile-de-la-reunion">Ile de La Reunion</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/ile-de-la-reunion/isautier" class="enclose">Isautier</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/ile-de-la-reunion/belle-vue" class="enclose">Belle Vue</a></li>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/ile-de-la-reunion/savanna" class="enclose">Savanna</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/madagascar">Madagascar</a>
                                            <ul>
                                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/madagascar/dzama" class="enclose">Dzama</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane">Selezioni Italiane</a>
                            <ul>
                                <li><a href="https://web.archive.org/web/20070910222713/http://rumclub.org/#nogo" class="enclose">Gargano</a>
                                    <ul>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezioni-gargano-demerara-rums" class="enclose">Demerara Rums</a></li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-gargano-caroni">Caroni</a></li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-gargano-valdespino">Valdespino</a></li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-gargano-damoiseau">Damoiseau</a></li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-gargano-domaine-de-courcelles">Domaine de Courcelles</a></li>
                                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-gargano-montebello">Montebello</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-moon-import">Moon Import</a>
                                </li>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-samaroli">Samaroli</a>
                                </li>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-italiane/selezione-enospugi-mabaruma">Enospugi</a>
                                    <ul>
                                        <li><a href="" class="enclose">Mabaruma</a></li>
                                        <li><a href="">Demerara Rum</a></li>
                                        <li><a href="">Barbajos</a></li>
                                        <li><a href="">Barangai Rum</a></li>
                                        <li><a href="">Ron Panama</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-inglesi">Selezioni Inglesi</a>
                            <ul>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-inglesi/selezione-bristol-spirits-ltd" class="enclose">Bristol Spirits</a></li>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-inglesi/selezione-silver-seal">Silver Seal</a></li>
                                <li><a href="{{site.url}}/rumclub/prodotti/i-rum-dalla-a-alla-z/selezioni-inglesi/cadenheads">Cadenheads</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{site.url}}/rumclub/prodotti/geografia-del-rum">Geografia</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/storia-del-rum">Storia</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/produzione">Produzione</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/mercato">Mercato</a></li>
            </ul>
        </li>
        <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione">DEGUSTAZIONE</a>
            <ul>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione" class="enclose">La degustazione</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/sensocrazia">Sensocrazia</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/degu-tecnica-vs-edonismo">Tecnica vs Edonismo</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/le-condizioni-loccorrente-il-bicchiere-la-successione">Le prassi</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/esame-visivo">Esame visivo</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/esame-olfattivo">Esame olfattivo</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/esame-gustativo">Esame gustativo</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/finale-e-giudizi">Finale e giudizi</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/la-degustazione/come-valutarli">Come valutarli</a></li>
                <li><a href="{{site.url}}/rumclub/prodotti/abbinamenti">ABBINAMENTI</a></li>
            </ul>
        </li>
        <li><a href="{{site.url}}/rumclub/links">STRUMENTI</a></li>
        <li><a href="{{site.url}}/rumclub/servizi">SERVIZI</a></li>
        <li><a href="{{site.url}}/rumclub/contatti">CONTATTI</a></li>
    </ul>
</div>